<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HareketTablo.Properties.Settings.dbHareketTabloConnectionString"
            connectionString="Data Source=DESKTOP-6O7H141\SQLEXPRESS;Initial Catalog=dbHareketTablo;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>